@import "../../shared/styles/index";
.navbar{
  position: fixed;
  width: 100%;
  background-color: rgba(0, 52, 0, 0.6);
  backdrop-filter: blur(2px);
  padding: 0 8rem;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.navbarLogo{
  position: relative;
  width: 7.5rem;
  height: 3rem;
}
.nav{
  display: flex;
  gap: 1rem;
  margin: 1.5rem 0;
}
.menu{
  //display: none;
}
