@import "app/[locale]/shared/styles/index";
.line {
  width: 100%;
  height: 0.5rem; // или нужная высота полоски
  border-radius: 10px;
  overflow: hidden;
}

.line > div {
  height: 100%;
  background-color: $color-green-main; // цвет заполнения
  width: 0; // стартовая ширина
  transition: width 0.1s linear;
}
