
$color-orange-main: #ff1111;
$color-orange-dark: #910000;
$color-orange-light: #ff6b6b;

$color-purple-main: #ff00f1;
$color-purple-dark: #81007a;
$color-purple-light: #ff88f9;

$color-green-main: #00ff00;
$color-green-dark: #006300;
$color-green-light: #85ff85;

$color-yellow-light: #eef600;
$color-yellow-light: #809100;
$color-yellow-light: #e9ff8e;